.gridParent {
  margin: 20px 10px 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.gridItem1 {
  grid-area: 1/1/2/2;
}

.gridParent > div:nth-child(1) {
  justify-self: center;
}

.gridItem2 {
  grid-area: 1/2/2/3;
}

.gridParent > div:nth-child(2) {
  justify-self: center;
}

.gridItem3 {
  grid-area: 1/3/2/4;
}

.gridParent > div:nth-child(3) {
  justify-self: center;
}


@media (min-width: 768px) {
  .gridParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .gridItem1 {
    grid-area: 1/1/2/2;
  }
  .gridItem2 {
    grid-area: 2/1/3/2;
  }
  .gridItem3 {
    grid-area: 1/2/2/3;
  }
}

@media (min-width: 992px) {
  .gridParent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .gridItem1 {
    grid-area: 1/1/2/2;
  }
  .gridItem2 {
    grid-area: 2/1/3/2;
  }
  .gridItem3 {
    grid-area: 3/1/4/2;
  }
}

/* FlexBox Banner */

.placeholder {
  display: none;
}

.NavBarBrand {
  display: none;
}

.siteCaption {
  font-size: 2rem;
}

.siteLogo {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

.siteImage {
  height: auto;
  width: 50px;
}

.siteIcons {
  display: none;
}

.siteCaption {
  align-self: center;
}

@media (min-width: 992px) {
  

  .siteCaption {
    font-size: 3rem;
  }

  .socialTile {
    display: block;
    grid-area: rest;
    border-bottom: 0.1rem solid #e5e6e4;
  }




  

  .socialTile {
    background-color: #3a6078;
  }

  .socialIcons {
    height: 100%;
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-around;
  }

  .socialIcon {
    
  }

  .socialIcon svg {
    fill: hsla(0,0%,100%,.6);
    display: block;
  }

  .socialText {
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    height: 1.2rem;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: default;
  }

  #slideshow {
    display: flex;
  }
}
