body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(278,924,465)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%232585FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='578' height='481.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Oswald';
  font-size: 16px;
  min-height: 0vw;
}

h5 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.8em;
}

h1 {
  font-size: 2em;
}

/* COUNTDWON */

.CounConWrapper {
  width:90%
}

.startCountdownContribution {
  width: 80%;
}
.countdownContainer {
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(153,231,233,1) 27%, rgba(214,214,214,1) 100%);
  width: 100%;
  border-radius: 15px;
}

@media(min-width:432px) {
  body {
    font-size: 1.2rem;
  }
}

@media(min-width:992px) {
  body {
    font-size: 1.4rem;
  }

  .CounConWrapper {
    width:80%
  }
}

/* Mannschaftsbilder */

.firstTeamWrapper {
  width: 80vw;
}

.secondTeamWrapper {
  width: 80vw;
}

.myThumbnail {
  height: auto;
}

.primary-color {
  background-color: #34a6ed;
}

.secondary-color {
  background-color: #e5e6e4;
}

/* NAVMENU */

.transition {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.transition svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.transition .shape-fill {
  fill: #34a6ed;
}

#NavbarLogo {
  width: 30px;
  
}

.navbarBrand {
  color: rgba(0,0,0,.5);
  
}

@media(min-width:992px) {
  #NavbarLogo {
    width: 50px;
  }
}

/*Slideshow*/

#slideshow {
  margin-top: 10px;
  height: 68vh;
  min-height: 35rem;
  position: relative;
  background: #080e1f;
  overflow: hidden;
  box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: none;
}

.slideTile {
  height: calc(100% - 6rem);
  position: relative;
  display: block;
  overflow: hidden;
}

.slideTileContainer {
  will-change: flex;
  transition: flex 0.3s;
  height: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s;
}

.slideTileContainer:hover {
  height: calc(100% + 12rem);
  overflow: visible;
}

.slideTileContainerHoverSimulation {
  height: calc(100% + 12rem);
  overflow: visible;
}

.hero-tile__gradient {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  top: 20%;
  left: -1px;
  right: -1px;
  z-index: 10;
  background: linear-gradient(0deg, #080e1f 6rem, rgba(8, 14, 31, 0));
  will-change: top;
  transition: top 0.2s;
}

@media (min-width: 992px) {
  #slideshow {
    display: flex;
  }
  .MobileGrid {
    display: none;
  }
}

/* MobileGrid */

.imgTile_1 {
  background-image: linear-gradient( to bottom, rgba(245, 246, 252, 0.1), rgba(27, 32, 32, 0.6)), url("../pictures/scholli.jpg");
  background-size: cover;
  height: 200px;
  width: 80%;
}

.imgTile_2 {
  background-image: linear-gradient( to bottom, rgba(245, 246, 252, 0.1), rgba(27, 32, 32, 0.6)), url("../pictures/nico.jpg");
  background-size: cover;
  height: 200px;
  width: 80%;
}

.imgTile_3 {
  background-image: linear-gradient( to bottom, rgba(245, 246, 252, 0.1), rgba(27, 32, 32, 0.6)), url("../pictures/markus.jpg");
  background-size: cover;
  height: 200px;
  width: 80%;
}

/* ContributionCard */

.card-img-overlay {
  box-shadow: 9px 10px 22px 4px rgba(8, 8, 8, 0.6);
}

.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

.textContainer {
  max-width: 90%;
}

/*Mannschaftseite */

.TransitionSVG {
  border-radius: 5%;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
}

.wrapper {
  padding-bottom: 40px;
}

.pinch {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -.05em;
  font-weight: 700;
  margin-bottom: 1.8rem;
  position: relative;
  padding-bottom: 1.5rem;
}

.pinch::before {
  max-width: 10rem;
  height: 1rem;
  border-radius: .5rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  background-color: #34a6ed;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

/* bigControbution */

.bigContributionWrapper {
  width: 80vw;
}